.btn{
  font-size: rem(16px);
  font-weight: 800;
  padding: rem(18px) rem(35px);
  text-transform: uppercase;
  border-radius: rem(100px);
  text-decoration: none;
  border: none;
  display: inline-block;


  &-theme-white{
    background: white;
    color: #365A49;

    &:hover{
      background: #365A49;
      color: white;
    }
  }

  &-theme-green{
    background: #365A49;
    color: white;
    cursor: pointer;
    padding: rem(20px) rem(40px);
    

    &:hover{
      background: #2E4E3F;
    }
  }

  &-theme-transparent{
    background: none;
    color: #497870;
    cursor: pointer;
    padding: rem(0px) rem(15px);
    font-size: rem(18px);
    font-weight: 400;
    text-transform: none;

    &:hover{
      color: black;
    }
  }

  @include phones{
    padding: rem(23px) rem(53px);
  }
}