.compound-info{
  width: 273px;
  height: 344px;
  position: absolute;
  background: #F2F5F4;
  padding: 24px 26px;
  color: black;
  top: 0;
  left: -9999px;
}

.compound__list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.compound__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.compound__item-icon{
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.compound-name{
  flex: 1;
  font-weight: 500;
}
