.hero{
  background:  
  url('../images/leaf_bg.png') right bottom no-repeat;
  background-color: $blue;
  color: white;
  position: relative;
  min-height: rem(650px);

  @include tablets{
    background-position: right bottom 78%;
    min-height: auto;
  }
}

.hero__icons-section{
  @include tablets{
    display: none;
  }
}

.hero__title-section{
  width: 46%;

  @include tablets{
    width:100%;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:before{
      content: "";
      width: rem(363px);
      height: rem(368px);
      background: url('../images/bars&berries.png') center / contain no-repeat;
      margin-bottom: rem(40px);
    }
  }
}

.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(45px) 0;
  background: url('../images/chocolate.png') right center / 50% auto no-repeat;
  position: relative;

  @include tablets{
    background: none;
  }

  &:before, &:after{
    @include tablets{
      display: none;
    }
  }

  &:before{
    position: absolute;
    content: "";
    background: url(../images/small_leaf.png) center / contain no-repeat;
    width: rem(60px);
    height: rem(112px);
    bottom: rem(-40px);
    left: rem(-46px);
  }

  &:after{
    position: absolute;
    content: "";
    background: url('../images/comp.png') center / contain no-repeat;
    width: rem(520px);
    height: rem(652px);
    right: 0;
    bottom: rem(-56px);
  }
}

.hero__main-title{
  font-size: rem(48px);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: rem(15px);
  text-transform: uppercase;

  @include tablets{
    margin-bottom: rem(4px);
  }

  @include phones{
    font-size: rem(42px);
  }
}

.hero__title-desc{
  font-size: rem(21px);
  margin-bottom: rem(33px);
  padding-right: 13%;

  @include tablets{
    max-width: 371px;
    padding: 0;
    margin-bottom: rem(20px);
  }

  
}