.hidden-menu{
  height: 100vh;
  width: 100%;
  background: #333537;
  opacity: 0.9;
  z-index: 1000;
  position: fixed;
  right: - 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

.hidden-menu__container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden-menu__list{
  display: flex;
  flex-direction: column;
  line-height: rem(72px);
  text-align: center;
  
}

.hidden-menu__item{
  font-size: rem(36px);
  color: white;
}

.hidden-menu__link{
  text-decoration: none;
}

.close-element{
  position: absolute;
  right: 5%;
  top: 3%;
  font-size: 20px;
  text-decoration: none;
}
