$baseFontSize: 18px;


$z-fixed-menu: 100;

$blue: #61C4D9;

$tablets: 768px;
$phones: 480px;

@import "blocks/media.scss";
@import "normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;600;700;800&display=swap');
@import "blocks/layout.scss";

@import "blocks/compound-info.scss";
@import "blocks/products.scss";
@import "blocks/hidden-menu.scss";
@import "blocks/socials.scss";
@import "blocks/footer.scss";
@import "blocks/map.scss";
@import "blocks/hero.scss";
@import "blocks/hamburger.scss";
@import "blocks/header.scss";
@import "blocks/features.scss";
@import "blocks/feature.scss";
@import "blocks/btn.scss";
@import "blocks/section.scss";
@import "blocks/headline.scss";
@import "blocks/benefits.scss";
@import "blocks/benefit.scss";
@import "blocks/benefits-section.scss";
@import "blocks/reviews.scss";
@import "blocks/interactive-avatar.scss";
@import "blocks/oder_section.scss";
@import "blocks/form.scss";
@import "blocks/radio.scss";
@import "blocks/fixed-menu.scss";
